<div class="container" fxLayoutAlign="center center">
  <div class="page-container" fxFlex="80%">
    <form [formGroup]="passwordGroup">
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row">
          <mat-label fxFlex="40%">Old Password</mat-label>
          <mat-form-field fxFlex="60%" appearance="outline">
            <input matInput formControlName="oldPassword" />
            <mat-error *ngIf="passwordGroup?.get('oldPassword')?.hasError('required')">
              This field is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-label fxFlex="40%">New Password</mat-label>
          <mat-form-field fxFlex="60%" appearance="outline">
            <input matInput formControlName="newPassword" />
            <mat-error *ngIf="passwordGroup?.get('newPassword')?.hasError('required')">
              This field is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-label fxFlex="40%">Confirm Password</mat-label>
          <mat-form-field fxFlex="60%" appearance="outline">
            <input matInput formControlName="confirmPassword" />
            <mat-error *ngIf="passwordGroup?.get('confirmPassword')?.hasError('required')">
              This field is required!
            </mat-error>
            <mat-error *ngIf="passwordGroup?.get('confirmPassword')?.errors?.['mismatch']">
              Password does not match!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="butdiv" fxLayoutAlign="center center" fxLayoutGap="10px">
          <button mat-stroked-button color="primary">Cancel</button>
          <button mat-raised-button color="primary">Submit</button>
        </div>

      </div>
    </form>
  </div>
</div>