<!-- <div class="getin" fxLayout="column" fxLayoutAlign="center center" >
    First Name:<input type="text" [(ngModel)]="firstname"><br><br>
  Last Name:<input type="text" [(ngModel)]="lastname"><br><br>
  Mail Id:<input type="text" [(ngModel)]="mail"><br><br>
  Password:<input type="password" ><br>
  <button mat-raised-button routerLink="/app/home">Continue</button>
  </div>
   -->
   <div class="Signuphead" fxLayout="row" fxLayoutAlign="center center">Welcome New User!</div>
   <div fxLayout="row" fxLayoutAlign="center center">
    <div class="accin" fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="40%"> Firstname</div>
        <div fxLayout="column" fxFlex="60%"><input type="text"></div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="40%"> Lastname</div>
        <div fxLayout="column" fxFlex="60%"><input type="text"></div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="40%">Mail id</div>
        <div fxLayout="column" fxFlex="60%"><input type="text"></div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="40%"> Password</div>
        <div fxLayout="column" fxFlex="60%"><input type="text"></div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="30%"></div>
        <div fxLayout="column" fxFlex="40%"><button mat-raised-button routerLink="/app/home">Continue</button></div>
        <div fxLayout="column" fxFlex="30%"></div>
      </div>
    </div>