input{
  //padding: 1px 2px;
  // padding: 7px 30px;
  // font: 25px;
  // margin-left:-10px;
  //text-align: left;
  //padding: 30px;
  // justify-content: left;
  height: 30px;
  width:200px;
}
// .getin{
  // left:500px;
  // top:30px;
  // position: absolute;
  //  border:1px solid black;
  // border-radius: 10px;
  // padding-top: 30px;
  // box-shadow: 10px 5px 5px rgb(240, 79, 106);

// .conti{
//    position:absolute;
//    right:10px;
// }

.accin {
  width: 400px;
  margin: auto 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // left:500px;
  // top: 50%
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 10px 5px 5px rgb(240, 79, 106);
}

.Signuphead{
  //   position: absolute;
  //   top:10px;
  margin-top: 60px;
  font-size: 25px;
  font-weight: 40px;
   }