<!-- <h1>Welcome to {{title}}</h1>
<img src="{{imgsrc }}" width="100px" height="100px"/><br>
<img [src]="imgsrc"/><br>
<button (click)=onclick()>Click Me!</button><br><br>
<input [(ngModel)]="name"/>
<p>{{ name}}</p> -->

<!-- <h1>Welcome to {{title}}</h1>
<input [(ngModel)]="name"/> 
<input [(ngModel)]="age"/> 
<p>Name:<input type="text" ng-model="name"/></p>
<h1>{{name}}</h1>
<button (click)=onclick()>show</button><br><br>
<button (click)=onclick()>showage</button><br><br>
<app-parent *ngIf="show" [sentname]="name"></app-parent>
<app-child *ngIf="showage" ></app-child> -->
<!-- <button mat-raised-button color="primary">Primary</button> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-parent></app-parent> -->
<router-outlet></router-outlet>