.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.formdiv{
  //background-color: blueviolet;
  width:300px;
  height:400px;
  // left:400px;
  // top:20px;
  // position:relative;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
